a:visited{
  color:blue;
}

body {
  background-color: #FFF4e4;
  font-size: 4vh;
  font-family: 'Raleway', sans-serif;
}

input {
  height: 4vh;
}

br {
  display: block;
  /* makes it have a width */
  content: "";
  /* clears default height */
  margin-top: 20px;
  /* change this to whatever height you want it */
}

h1 {
  color: #4d80e4;
  font-size: 7.5vh;
  margin-top: 30px;
  font-family: 'Crete Round', serif;
}

h3 {
  color: #0c9463;
  font-size: 6vh;
  font-style: italic;
  text-decoration: underline;
  font-family: 'Crete Round', serif;
}

h4 {
  font-size: 5vh;
  font-style: italic;
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
}

p {
  margin-top: 20px;
  line-height: 1.5;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #2e279d;
  border-width: 10px;
  margin-bottom: 35px;
  margin-left: 0;
  margin-top: 35px;
  width: 25%;
}

img {
  width: 70%;
  height: auto;
}

li {
  margin-top: 10px;
}

.font1 {
  font-family: sans-serif;
}

.font2 {
  font-family: serif;
}
